{{ define "header" }}
<img src="assets/indaba6-96x106.svg" alt="Fire emoji" class="emoji-img center-margin large-margin">
<h1 class="subtitle">
    <!-- <a href="https://twitter.com/TwitterOSS" target="_blank" rel="noopener"></a> -->
</h1>
<h1 class="large-title center-text">Deep Learning Indaba𝕏</h1>
<h1 class="large-title center-text">Zimbabwe 2023</h1>
<h1 class="subtitle center-text"> Theme: AI & Industry (Research applications, opportunities & startups)
  <!-- <a href="https://twitter.com/TwitterOSS" target="_blank" rel="noopener"></a> -->
</h1>

{{ end }}

{{ define "content" }}
  {{ .Content }}
{{ end }}
